---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-worker-1-bmc-secret
type: Opaque
data:
  username: cm9vdA==
  password: MTAweWFyZC0=
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: openshift-worker-1
spec:
  online: true
  bootMACAddress: {{worker_bootmac}}
  bmc:
    address: redfish+http://{{inventory_hostname}}:9000/redfish/v1/Systems/{{uuid}}
    credentialsName: openshift-worker-1-bmc-secret
  hardwareProfile: unknown
  bootMode: legacy
